<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="LibraryEntities" connectionString="metadata=res://*/Model.LibraryEntity.csdl|res://*/Model.LibraryEntity.ssdl|res://*/Model.LibraryEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UL2LK0M\SQLEXPRESS;initial catalog=Library;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
